body{
  margin:0;
  font-family:Arial;
  background:#0f0f0f;
  color:white;
}

nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:18px 30px;
  background:#1a1a1a;
}

.logo{
  cursor:pointer;
}

.nav-links a{
  color:#ddd;
  margin-left:15px;
  text-decoration:none;
}

.nav-links a:hover{
  color:#ff7b3d;
}

.search{
  text-align:center;
  padding:40px 20px;
}

.search-box{
  margin-top:15px;
  display:flex;
  justify-content:center;
  gap:10px;
  flex-wrap:wrap;
}

.search-box input{
  padding:12px;
  width:280px;
  border:none;
  border-radius:6px;
}

.btn{
  padding:12px 18px;
  border:none;
  background:#ff7b3d;
  cursor:pointer;
  border-radius:6px;
}

#results{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:18px;
  padding:30px;
}

.meal-card{
  background:#1a1a1a;
  border-radius:12px;
  overflow:hidden;
  transition:0.3s;
  position:relative;
}

.meal-card:hover{
  transform:translateY(-5px);
  box-shadow:0 0 15px rgba(255,123,61,0.4);
}

.meal-card img{
  width:100%;
  height:180px;
  object-fit:cover;
}

.meal-info{
  padding:15px;
}

.category{
  color:#ff7b3d;
  font-size:13px;
}

.favorite-btn{
  margin-top:10px;
  width:100%;
  padding:10px;
  background:#ff7b3d;
  border:none;
  cursor:pointer;
}

.form-section{
  padding:30px;
  text-align:center;
}

form{
  display:flex;
  flex-direction:column;
  gap:10px;
  max-width:450px;
  margin:auto;
}

input,textarea{
  padding:12px;
  border:none;
  border-radius:6px;
}

textarea{
  min-height:120px;
}

.saved{
  padding:30px;
}

.recipe-card{
  background:#1a1a1a;
  padding:15px;
  border-radius:10px;
  margin-top:10px;
}

@media(max-width:700px){

  nav{
    flex-direction:column;
    gap:10px;
  }

  .search-box input{
    width:100%;
  }

  #results{
    grid-template-columns:1fr;
  }

}